practice_project/practice_project/Connected Services/ServiceReference4/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WCFservice/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WCFservice/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WCFservice/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WindowsSocialApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ValidateUserDataBase_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserDataBase" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidateUserDataBase_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserDataBaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidateUserFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserFile" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidateUserFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_decrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:decrypt" />
  </wsdl:message>
  <wsdl:message name="IService1_decrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:decryptResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Validateadmin_InputMessage">
    <wsdl:part name="parameters" element="tns:Validateadmin" />
  </wsdl:message>
  <wsdl:message name="IService1_Validateadmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateadminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StoreUser_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreUser" />
  </wsdl:message>
  <wsdl:message name="IService1_StoreUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getdet_InputMessage">
    <wsdl:part name="parameters" element="tns:getdet" />
  </wsdl:message>
  <wsdl:message name="IService1_getdet_OutputMessage">
    <wsdl:part name="parameters" element="tns:getdetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_storeReport_InputMessage">
    <wsdl:part name="parameters" element="tns:storeReport" />
  </wsdl:message>
  <wsdl:message name="IService1_storeReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:storeReportResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ValidateUserDataBase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ValidateUserDataBase" message="tns:IService1_ValidateUserDataBase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValidateUserDataBaseResponse" message="tns:IService1_ValidateUserDataBase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUserFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ValidateUserFile" message="tns:IService1_ValidateUserFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValidateUserFileResponse" message="tns:IService1_ValidateUserFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="decrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/decrypt" message="tns:IService1_decrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/decryptResponse" message="tns:IService1_decrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Validateadmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Validateadmin" message="tns:IService1_Validateadmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValidateadminResponse" message="tns:IService1_Validateadmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StoreUser" message="tns:IService1_StoreUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StoreUserResponse" message="tns:IService1_StoreUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getdet">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getdet" message="tns:IService1_getdet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getdetResponse" message="tns:IService1_getdet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="storeReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/storeReport" message="tns:IService1_storeReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/storeReportResponse" message="tns:IService1_storeReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUserDataBase">
      <soap:operation soapAction="http://tempuri.org/IService1/ValidateUserDataBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUserFile">
      <soap:operation soapAction="http://tempuri.org/IService1/ValidateUserFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="decrypt">
      <soap:operation soapAction="http://tempuri.org/IService1/decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validateadmin">
      <soap:operation soapAction="http://tempuri.org/IService1/Validateadmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreUser">
      <soap:operation soapAction="http://tempuri.org/IService1/StoreUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getdet">
      <soap:operation soapAction="http://tempuri.org/IService1/getdet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="storeReport">
      <soap:operation soapAction="http://tempuri.org/IService1/storeReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUserDataBase">
      <soap:operation soapAction="http://tempuri.org/IService1/ValidateUserDataBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUserFile">
      <soap:operation soapAction="http://tempuri.org/IService1/ValidateUserFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="decrypt">
      <soap:operation soapAction="http://tempuri.org/IService1/decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validateadmin">
      <soap:operation soapAction="http://tempuri.org/IService1/Validateadmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreUser">
      <soap:operation soapAction="http://tempuri.org/IService1/StoreUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getdet">
      <soap:operation soapAction="http://tempuri.org/IService1/getdet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="storeReport">
      <soap:operation soapAction="http://tempuri.org/IService1/storeReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost/WCFservice/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService1" binding="tns:BasicHttpsBinding_IService1">
      <soap:address location="https://finlgvdy724.finastra.global/WCFservice/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>